Gogs/
Temp/
.idea/
*.cache
.vs/
Library/ShaderCache/
Library/StateCache/
Library/EditorInstance.json
Library/ProtocolInstance.json
*.log
Library/assetDatabase3
Library/metadata
Logs/
Library/CrashedAssetImports.txt
Library/PackageCache
